/* Styles for latest posts block */

@media only screen and (min-width: 767px) {
    ul.wp-block-latest-posts div.alignleft img {
        float: left;
        margin-right: 1em;
    }
}

.wp-block-latest-posts {
    margin: 0;
    padding-inline-start: 0;
}

ul.wp-block-latest-posts li {
    margin-bottom: 2em;
}

